.fullscreen-modal .modal-dialog {
    margin: 30px;
    margin-right: auto;
    margin-left: auto;
    
    height: 100px;
    width: 50%;
    ;
}

@media (min-width: 768px) {
    .fullscreen-modal .modal-dialog {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .fullscreen-modal .modal-dialog {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .fullscreen-modal .modal-dialog {
        width: 1170px;
    }
}