* {
    margin: 0px;
    padding: 0px;
}

#contenedor {
    width: 100%;
    margin: 0px;
    border: 1px solid #000;
    line-height: 130%;
    background-color: #f2f2f2;
}

#cabecera {
    padding: 10px;
    color: #fff;
    background-color: #becdfe;
    clear: left;
}

#columna1 {
    float: left;
    width: 200px;
    margin: 0;
    padding: 1em;
}

#columna2 {
    margin-left: 210px;
    border-left: 1px solid #aaa;
    padding: 1em;
}

#pie {
    padding: 10px;
    color: #fff;
    background-color: #becdfe;
    clear: left;
}